<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">Salameche</div>
            </div>
            <div class="right">
                <div id="HP">150 HP</div>
                <img class="energyIcon" src="assets/images/feu.png">
            </div>
        </header>
        <figure>
            <img src="assets/images/Salameche.png">
            <figcaption id="ref">Image par <a href="https://pixabay.com/fr/users/creatorish-21588498/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6895600">Ish Artist</a> de <a href="https://pixabay.com/fr//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6895600">Pixabay</a></figcaption>
            <figcaption> N° 01 Monster </figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="energyIcon" src="assets/images/feu.png">
                        <img class="energyIcon" src="assets/images/feu.png">
                    </div>
                    <div class="name">Brulures</div>
                    <div class="damage">60</div>
                </div>
            </div>
            <div class="description">
                Voici la description de l'attaque brulures de Salamèche
            </div>
        </div>
    </div>
</div>
